/*
** sim so page
*/
.ss-bg {
  background-color: #e5e5e5;
  padding-bottom: 50px; }

.ss-box1 {
  background-color: #e5e5e5;
  padding-top: 35px; }

.ss-box1-left {
  width: 35%; }

.ss-box1-left-top {
  padding: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px #c7c7c7;
  -moz-box-shadow: 0px 0px 11px 0px #c7c7c7;
  box-shadow: 0px 0px 11px 0px #c7c7c7; }

.ss-box1-left-top-tit {
  padding: 20px 0px 20px 0; }

.ss-box1-left-top-tit span, .ss-box1-left-top-tit img {
  vertical-align: middle; }

.ss-box1-left-top-tit span {
  font-size: 35px;
  color: #4e4e4e;
  text-transform: uppercase;
  padding-left: 20px;
  font-family: SanFranciscoDisplay-Medium; }

.ss-box1-left-top-tit span.link a, .ss-box1-left-top-tit span.link a:hover, .ss-box1-left-top-tit span.link a:active, .ss-box1-left-top-tit span.link a:visited {
  color: #40b3e4;
  font-size: 20px;
  font-family: SanFranciscoDisplay-Light;
  text-transform: none; }

.ss-box1-left-top-tit span.link .fa {
  margin-left: 10px; }

.border_bottom {
  border-bottom: 1px solid #ececec; }

.border_bottom span {
  padding-left: 0; }

.ss-box1-left-top-1 {
  margin-top: 25px; }

.ss-box1-left-top-1 img {
  max-width: 100%;
  display: block;
  margin: 0px auto; }

.ss-box1-left-top-2 {
  text-align: center;
  font-size: 17px;
  color: #515151;
  padding-top: 44px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e7; }

.ss-box1-left-top-2 img {
  max-width: 20px;
  margin-right: 15px; }

.ss-box1-left-top-2 span {
  font-size: 36px; }

.ss-box1-left-top-3 {
  padding: 27px 0px 18px;
  margin-left: 53px;
  font-size: 16px;
  color: #000000; }

.ss-box1-left-top-3 img {
  margin-right: 11px; }

.ss-box1-left-top-4 {
  padding: 0px 26px 5px; }

.ss-box1-left-top-4 form {
  position: relative; }

.ss-box1-left-top-4 input {
  color: #4e4e4e;
  height: 36px;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
  width: 100%;
  padding: 0 19px;
  font-size: 16px;
  font-family: SanFranciscoDisplay-Light; }

.ss-box1-right-all .select2-container .select2-choice .select2-arrow, .select2-container .select2-choice div {
  border-left: none; }

.ss-box1-right-all .select2-container .select2-choice {
  height: 36px; }

.ss-box1-right-all .select2-container .select2-choice > .select2-chosen {
  color: #4e4e4e;
  font-size: 16px;
  font-family: SanFranciscoDisplay-Light; }

.ss-box1-left-top-4 button {
  height: 34px;
  border-radius: 4px;
  background-color: #ed0677;
  border: none;
  color: #fff;
  font-size: 16px;
  font-family: SanFranciscoDisplay-Medium;
  padding: 0 15px;
  margin: 42px 0 0 0; }

/*  */
.ss-box1-left-middle {
  margin-top: 20px;
  padding: 0px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px #c7c7c7;
  -moz-box-shadow: 0px 0px 11px 0px #c7c7c7;
  box-shadow: 0px 0px 11px 0px #c7c7c7; }

.ss-box1-left-middle-1 {
  padding: 0px 26px 35px; }

.ss-box1-left-middle-1 div {
  margin-top: 17px; }

.ss-box1-left-middle-1 div label {
  margin-left: 8px; }

.ss-box1-left-middle-1 input[type=text] {
  height: 40px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  width: 100%;
  padding: 0px 19px; }

.ss-box1-left-middle-1 input[type="radio"] {
  display: none; }

.ss-box1-left-middle-1 input[type="radio"] + label {
  color: #292321;
  font-size: 14px; }

.ss-box1-left-middle-1 input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 8px 0 0;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 50%;
  border-radius: 50%; }

.ss-box1-left-middle-1 input[type="radio"] + label span {
  background-color: #fff;
  border: 1px solid #cacaca; }

.ss-box1-left-middle-1 input[type="radio"]:checked + label span {
  background-color: #fff;
  text-align: center; }

.ss-box1-left-middle-1 input[type="radio"]:checked + label strong {
  background-color: #ed2891;
  height: 11px;
  width: 11px;
  display: inline-block;
  border-radius: 50%; }

/*  */
.ss-box1-left-bottom {
  margin-top: 20px;
  padding: 0px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 11px 0px #c7c7c7;
  -moz-box-shadow: 0px 0px 11px 0px #c7c7c7;
  box-shadow: 0px 0px 11px 0px #c7c7c7; }

.ss-box1-left-bottom-1 {
  padding: 15px 0px; }

.ss-box1-left-bottom-1 img {
  width: 100%; }

.ss-box1-left-bottom-2 {
  line-height: 23px;
  color: #000000;
  padding-bottom: 20px; }

/*  */
.ss-box1-right-bottom .table > thead > tr > th {
  text-transform: uppercase;
  font-family: SanFranciscoDisplay-Bold; }

.ss-box1-right {
  width: 65%; }

.ss-box1-right-all {
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 7px; }

.ss-box1-right-bottom {
  margin-top: 27px;
  min-height: 300px; }

.ss-box1-right-bottom table thead {
  background-color: #f5f5f5; }

.ss-box1-right-bottom table th {
  font-size: 18px;
  color: #232323;
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  border: none !important; }

.ss-box1-right-bottom table th span {
  border: 7px solid transparent;
  border-top: 10px solid #767676;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: 3px;
  margin-left: 8px; }

.ss-box1-right-bottom table td {
  padding: 20px 0px !important;
  text-align: center;
  color: #232323;
  border-bottom: 1px solid #ddd;
  border-top: none !important;
  font-size: 16px; }

.ss-box1-right-bottom table td.link a, .ss-box1-right-bottom table td.link a:hover {
  color: #06a2dd;
  font-size: 16px; }

.ss-box1-right-bottom table td.btn-cart a:hover {
  background: #06a2dd; }

.ss-box1-right-bottom table td.btn-cart a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 0px 19px;
  line-height: 25px;
  border-radius: 5px;
  background: #06a2dd;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67cdfc', endColorstr='#029fe3', GradientType=0); }

.box-pagination ul {
  text-align: center;
  display: inline-block;
  margin: 0px; }

.box-pagination ul li {
  list-style: none;
  float: left; }

.box-pagination ul li a {
  display: inline-block;
  padding: 2px;
  font-size: 16px;
  color: #00a0e3;
  text-decoration: none;
  width: 26px;
  height: 26px; }

.box-pagination ul li.active a {
  border: 1px solid #d1d1d1;
  border-radius: 50%; }

/*start dropdown chon so*/
.gc-chon-so {
  width: 100%;
  line-height: initial; }

.gc-chon-so .ddl {
  width: 100%;
  height: 39px;
  position: relative;
  top: 30px;
  padding: 0px 5px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #c9c9c9; }

.gc-chon-so .ddl .txtboxCategory {
  width: 100%;
  box-sizing: border-box;
  height: 37px;
  border: 0;
  text-align: left;
  line-height: 28px;
  padding: 5px 0 0 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.gc-chon-so .ddl input {
  color: #a19f9f;
  border-radius: 5px; }

.gc-chon-so .ddl .btnddl {
  width: 12px;
  height: 17px;
  position: absolute;
  top: 9px;
  right: 10px;
  cursor: pointer; }

.gc-chon-so .ddl .textoption {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  height: auto;
  position: absolute;
  left: -1px;
  top: 34px;
  z-index: 10;
  border-bottom: solid 1px #e0e0e0;
  border-left: solid 1px #e0e0e0;
  border-right: solid 1px #e0e0e0;
  min-width: 151px;
  background-color: #fff;
  display: none; }

.gc-chon-so .ddl .textoption ul {
  width: 100%;
  line-height: 20px;
  padding: 0; }

.gc-chon-so .ddl .textoption li {
  list-style: none;
  border-bottom: dotted 1px #e0e0e0;
  padding: 4px 3px 4px 10px;
  cursor: pointer; }

.gc-chon-so #textoptionWearther ul li {
  list-style: none; }

.gc-chon-so .textoption {
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0; }

.gc-chon-so .dropdownlist {
  color: #4e4e4e;
  border: 1px solid #c9c9c9;
  width: 304px;
  height: 35px;
  border-radius: 4px;
  padding: 6px;
  font-size: 16px; }

.timso {
  font-size: 16px;
  font-family: SanFranciscoDisplay-Regular;
  margin-bottom: 10px; }

.selectbox {
  margin-bottom: 15px; }

.mini-detail .ddl {
  top: 0px; }

.block_actions {
  background-color: #45b6e7;
  padding: 30px 0; }

.block_actions .box {
  background-color: #FFF;
  border-radius: 4px;
  width: 100%;
  float: left; }

.block_actions .box .service {
  float: left;
  width: 19%; }

.block_actions .box .service_lg {
  float: left;
  width: 22%; }

.block_actions .box .icon_menu {
  margin-right: 15px; }

.block_actions .box .item {
  padding: 15px 0;
  text-align: center; }

.block_actions .box .line_bottom {
  height: 3px;
  background: #d81962; }

.block_actions .box .line_ss {
  width: 80%;
  margin-left: 22px; }

.block_actions .box .line_pack {
  width: 85%;
  margin-left: 17px; }

.block_actions .box .line_topup {
  width: 80%;
  margin-left: 25px; }

.block_actions .box .line_card {
  width: 85%;
  margin-left: 22px; }

.block_actions .box .icon_ss {
  margin-top: 10px;
  text-align: center;
  padding: 8px 0; }

.block_actions .box .icon_topup {
  padding: 2px 0; }

.block_actions .box .icon_card {
  padding: 1px 0; }

.block_actions .box .border_right {
  border-right: 1px solid #ededed; }

.block_actions .box .title {
  color: #545454;
  font-size: 18px;
  font-family: SanFranciscoDisplay-Regular;
  vertical-align: middle; }

.msisdn_type {
  width: 318px; }

#list_msisdn .hasTooltip {
  display: none;
  position: absolute; }

#list_msisdn .tooltip-inner {
  max-width: 380px;
  background-color: #06a2dd;
  font-size: 12px;
  white-space: pre-line;
  text-align: justify; }

#list_msisdn .tooltip.bottom .tooltip-arrow {
  border-bottom-color: #06a2dd; }

.ss-box1-right-all .grid-view .empty {
  border-bottom: none; }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .ss-box1 {
    padding-top: 20px; }

  .ss-box1-left-top-4 {
    padding: 0; }

  .select2-container, .msisdn_type {
    width: 100% !important; }

  .ss-box1-right-all {
    padding: 0;
    border-radius: 0; }

  .ss-box1-left-top-tit {
    padding: 20px 0px 20px 10px;
    border-bottom: 1px solid #e7e7e7; }

  .ss-box1-right-bottom {
    max-height: 500px;
    overflow-x: auto;
    white-space: nowrap; }

  .ss-box1-right-bottom::-webkit-scrollbar {
    width: 6px;
    background-color: #cccccc; }

  .ss-box1-right-bottom::-webkit-scrollbar-thumb {
    background-color: #06a2dd;
    border-radius: 5px; }

  .ss-box1-right-bottom::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-box-shadow: 0 0 6px #fff inset; }

  .ss-box1-left-top-tit span {
    font-size: 20px;
    width: 100%; }

  .ss-box1-left-top-tit span.link a, .ss-box1-left-top-tit span.link a:hover, .ss-box1-left-top-tit span.link a:active, .ss-box1-left-top-tit span.link a:visited {
    font-size: 16px;
    float: right; }

  .ss-bg {
    padding-bottom: 10px; }

  .ss-box1-left-top-tit span.link .fa {
    margin-right: 10px; }

  .gc-chon-so .dropdownlist {
    width: 100%; }

  .ss-box1-left-top-4 button {
    margin: 0; }

  #list_msisdn .tooltip-inner {
    max-width: 300px;
    margin-left: 10px; } }

/*# sourceMappingURL=sim.css.map */
